email: gene.extractor@mailinator.com
output:
  dir: queries
  date_prefix: false
  kegg: kegg
  kegg_compound: compound-kegg
  kegg_enzyme: enzyme-kegg
  ncbi: ncbi

search:
  ncbi:
    - Protein name
    - Gene name
    - Title
